@media all and (max-height:1728px){
body {background-color: pink;}

h1 {font-family: cursive;
position: relative;
left:10px;}

.pill{
    font-size: 12px;
    font-family: 'Readex Pro', sans-serif;
    padding: 0.5em 1em;
    margin: 0.25em;
    border-radius: 1em;
    border:none;
    outline:none;
    background:#ddd;
    cursor: pointer;
    float:right;
}

.pill:hover {
    background-color: #ccc;
}

.pill1 {
    font-size: 12px;
    font-family: 'Readex Pro', sans-serif;
    padding: 0.5em 1em;
    margin: 0.25em;
    border-radius: 1em;
    border:none;
    outline:none;
    background: #009578;
    cursor:pointer;
    float: right;
}
.pill1:hover {
    background-color: aqua;
}


img[src="redbacklogo.png"] {
    height: 150px;
    width:150px;
    display:block;
    position: absolute;
    top:20%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
}
p1 {
    margin: 0;
    padding: 0;
    text-align: center;
    position:absolute;
    top:50%;
    left:50%;
    transform: translateX(-50%) translateY(-50%);
    

}
img[src="image1.png"] {
    height: 200px;
    width:200px;
    display:block;
    position:absolute;
    top:70%;
    right:65%;
}

img[src="image2.png"] {
    height:200px;
    width: 200px;
    display: block;
    position: absolute;
    top:70%;
    right: 45%;
}

img[src="image3.png"] {
    height: 200px;
    width: 200px;
    display: block;
    position: absolute;
    top: 70%;
    right: 25%;
}

.pill2 {
    font-size: 12px;
    font-family: 'Readex Pro', sans-serif;
    padding: 0.5em 1em;
    margin: 0.25em;
    border-radius: 1em;
    border:none;
    outline:none;
    background: #3cd0ff;
    cursor:pointer;
    float: center;
    position: absolute;
    top:60%;
    right: 70%;
}
.pill2:hover {
    background-color: greenyellow;
}

.pill3 {
    font-size: 12px;
    font-family: 'Readex Pro', sans-serif;
    padding: 0.5em 1em;
    margin: 0.25em;
    border-radius: 1em;
    border:none;
    outline:none;
    background: #3cd0ff;
    cursor:pointer;
    float: center;
    position: absolute;
    top:60%;
    right: 60%;
}
.pill3:hover {
    background-color: greenyellow;
}

.pill4 {
    font-size: 18px;
    font-family: 'Readex Pro', sans-serif;
    padding: 0.5em 1em;
    margin: 0.25em;
    border-radius: 1em;
    border:none;
    outline:none;
    background: #3cd0ff;
    cursor:pointer;
    float: center;
    position: absolute;
    top:59%;
    right: 50%;
}
.pill4:hover {
    background-color: greenyellow;
}

.pill5 {
    font-size: 12px;
    font-family: 'Readex Pro', sans-serif;
    padding: 0.5em 1em;
    margin: 0.25em;
    border-radius: 1em;
    border:none;
    outline:none;
    background: #3cd0ff;
    cursor:pointer;
    float: center;
    position: absolute;
    top:60%;
    right: 38%;
}
.pill5:hover {
    background-color: greenyellow;
}

.pill6 {
    font-size: 12px;
    font-family: 'Readex Pro', sans-serif;
    padding: 0.5em 1em;
    margin: 0.25em;
    border-radius: 1em;
    border:none;
    outline:none;
    background: #3cd0ff;
    cursor:pointer;
    float: center;
    position: absolute;
    top:60%;
    right: 27%;
}
.pill6:hover {
    background-color: greenyellow;
}

p4{
    margin:0;
    padding: 0;
    text-align: center;
    position: absolute;
    top:95%;
    left:20%;
    font-size: small;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p2{
    color:#3cd0ff;
}

p3{
    color:#3cd0ff;
}

img[src="image4.png"] {
    height:50px;
    width:50px;
    display: block;
    position: absolute;
    top:90%;
    left:85%;
}

.help{
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    border: none;
    outline: none;
    background-color: pink;
    cursor: pointer;
    position: absolute;
    top:91.55%;
    left:88%;
}

.help:hover{
    background-color: red;
}

}